.seelist{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.seelistcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #4f3327;
    border-radius: 40px;
}
.section-title-icon{
    display: flex;
    justify-content: center;
    width: 100%;
}
.title-container{
    width: 80%;
}
.standardtitle{
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #3CFA4F;
}
.icons-container{
    display: flex;
}
.container-edit-icon{
    margin-right: 1rem;
    text-align: end;
}
.edit-icon{
    width: 1.9rem;
    margin-top: 1rem;
}
.container-dump-icon{
    text-align: end;
}
.dump-icon{
    width: 1.9rem;
    margin-top: 1rem;
}
.section-description{
    width: 90%;
}
.description-container{
    margin-top: 2rem;
    color: #3CFA4F;
}
.description-container h1{
    margin-bottom: 1rem;
}