@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.createactivity{
    display: flex;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    justify-content: center;
}
.createactivitycontainer{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: #851A09;
    border-radius: 40px;
}
.createactivityform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-top: 1rem;
}
.first-content{
    width: 100%;
}
.title{
    width: 100%;
}
.standardtext{
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    color: #3CFA4F;
}
.title_input{
    display: flex;
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
    background-color: #B4FF8A;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    color: #851A09;
    font-size: 1rem;
}
.description_conteiner{
    width: 100%;
    margin-top: 1.5rem;
}
.description_input{
    display: flex;
    width: 100%;
    height: 9rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    background-color: #B4FF8A;
    padding-left: 0.5rem;
    outline: none;
    border: none;
}
.save_conteiner{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.savebutom{
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 5rem;
    height: 1.8rem;
    border-radius: 15px;
    background-color: #D14117;
    color: #B4FF8A;
    outline: none;
    border: none;
}
.savebutom:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* Style timer */
.timer-content{
    display: flex;
    margin-top: 1rem;
}
.text-content{
    display: flex;
    width: 100%;
}
.title-timer{
    width: 30%;
    color: #3CFA4F;
    font-size: 1.5em;
}
.title-plus{
    text-align: start;
    font-weight: bold;
    font-size: 2rem;
}
.input-timer-content{
    width: 80%;
    border: none;
}
.input-timer{
    height: 6rem;
    width: 15rem;
    font-size: 4rem;
    background-color: #851A09;
    border: none;
    color: #3CFA4F;
    font-family: roboto,sans-serif;

}
.input-timer::-webkit-calendar-picker-indicator{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
.input-timer:hover{
    cursor: pointer;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: #3CFA4F;;
    font-weight: bold;
    font-size: 2rem;
}
