/* principais conteiners */
.createlist{
    display: flex;
    position:  fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 7rem;
    width: 80%;
    margin-left: 10%;
}
.createlistcontainer{
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #311E1B;
    border-radius: 40px;
    margin-left: 5rem;
}
.createlistform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-top: 1rem;
}
.first_content{
    width: 100%;
}

/* conteiner de titulo */
.standardtext{
    font-size: 8px;
    font-family: Roboto, sans-serif;
    color: #3CFA4F;
    font-weight: normal;
}
.title{
    width: 100%;
}
.title_input{
    display: flex;
    width: 100%;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: #B4FF8A;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    color: #311E1B;
    font-size: 1rem;
}

/* conteiner de descricao */
.description_conteiner{
    width: 100%;
    margin-top: 1.2rem;
}
.description_input{
    display: flex;
    width: 100%;
    height: 9rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    background-color: #B4FF8A;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    color: #311E1B;
    font-size: 0.9rem;
    resize: none;
}

/* conteiner de inserir tarefas */
.tasks_conteiner{
    display: flex;
    width: 100%;
    margin-top: 1.2rem;
}
.task_first_conteiner{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.task_input{
    display: flex;
    align-self: center;
    width: 55%;
    height: 2rem;
    margin-top: 0.5rem;
    background-color: #B4FF8A;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    color: #311E1B;
    font-size: 1rem;
}

/* conteiner do plus */
.task_second_conteiner{
    display: flex;
    width: 10%;
}
.plus{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}
.plus:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}

/* Botao de salvar */
.save_conteiner{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 7rem;
}
.savebutom{
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 5rem;
    height: 1.8rem;
    border-radius: 15px;
    background-color: #492f2b;
    color: #3CFA4F;
    outline: none;
    border: none;
}
.savebutom:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* placeholders  */
::placeholder{
    color: #851A09;
    font-size: 0.9rem;
}

/*estilizar links*/
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}