@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sidebar{
    background: #311E1B;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 16.67vw;
    min-height: 80vh;
    height: 100vh;
}
.plusIcon{
    fill: #5BED43;
    color: #5BED43;
    padding: 10%;
    padding-left: 15%;
    cursor: pointer;
    width: 3vw;
    margin-bottom: 1rem;
}
.plusIcon:hover{
    cursor: pointer;
    opacity: 0.5;
}
.sidebarLink{
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-left: 0.5rem;
    width: 90%;
    height: 8vh;
    font-size: 1.5em;
    font-family: Roboto;
}

.sbDropdown{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #5BED43;
}

.sbDropdown:hover{
    opacity: 0.5;
    cursor: pointer;
}

.sbLink{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #5BED43;
    text-decoration: none;
    font-size: .8em;
    margin-left: 1rem;
}

.sbLink:hover{
    opacity: 0.5;
    cursor: pointer;
}

.sbListIcon{
    margin-top: 0.25rem;
    margin-right: 0.6rem;
    width: 1vw;
}
.arrow-edit{
    display: flex;
    margin-top: 2rem;
}
a:visited{
    color: #5BED43;
}