@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*///////////////POMODORO TIMER////////////*/
.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-10%);
    margin-top: 10rem;
    margin-left: 45%;
}

.progress_circle{
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    transform-origin: center;
    transform: rotate(-90deg);
    fill: none;
    stroke: #5BED43;
}

.bg_circle{
    fill: none;
    stroke: #492f2b;
}

.progress_bar{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bg_bar{
    fill: #492f2b;
}

.bar{
    fill: #5BED43;
}

.bar_arrow{
    width: 1vw;
    transform: rotate(90deg);
    justify-content: flex-start;
}

.numbers{
    transform: translateY(8%);
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    text-anchor: middle;
    font-size: 5.75rem;
    fill: #5BED43;
    color: #5BED43;
}

.listTitle{
    color: #311E1B;
    font-family: 'Roboto', sans-serif;
    font-size: 1.33em;
    font-weight: 600;
    text-align: start;
    align-self: flex-start;
}

.activityTitle{
    color: #5BED43;
    font-family: Roboto;
    font-size: 2em;
    padding: 5%;
    padding-top: 3%;
    align-self: center;
}

.timerBtns{
    width: 20vw;
    color: #5BED43;
    display: flex;
    justify-content: space-around;
}

.timerBtn{
    background-color: #311E1B; /* Green */
    border: none;
    border-radius: 25px;
    color: #5BED43;
    padding: 4% 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .95em;
    font-family: Roboto;
    font-weight: 600;
}

.timerBtn:hover{
    cursor: pointer;
}


/*////////////////CRONOMETRO/////////////*/
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-10%);
    margin-top: 10rem;
    margin-left: 45%;
}

.sw_numbers{
    transform: translateX(-10%);
    padding: 5%;
    width: 25rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 5.75rem;
    text-anchor: middle;
    fill: #5BED43;
    color: #5BED43;
}


/*////////////////NOTIFICACOES/////////////*/
.notificationWrapper{
    position: fixed;
    top: 2%;
    right: 2%;
    width: 20vw;
}

.notificationItem{
    border: none;
    text-align: start;
    text-decoration: none;

    color: #5BED43;
    background-color: #311E1B;
    box-shadow: 0 0 5px rgba(0,0,0, 0.4);

    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2%;

    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 20vw;
    cursor: pointer;
}

@keyframes SlideLeft{
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight{
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notificationItem.exit{
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
}

.notificationItem p{
    margin: 0;
    padding: 10px;
}

.notificationItem .title{
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em;
}

.notificationItem .message{
    font-family: Roboto;
    font-style: italic;
    font-size: 1.2em;
}

.notificationItem.restOver{
    color: #ffffff;
    background-color: #eb2c35;
}