@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-top: 10rem;
    margin-left: 45%;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid #5BED43 0.25rem;
    width: 20rem;
    height: 20rem;
    align-items: center;
}
.numbers{
    text-align: center;
    font-family: Roboto;
    font-size: 3.34rem;
    color: #5BED43 ;
}